<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Smart Museum | Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<style>
.active, .button:hover {
 		background-color: #ccc;
 		text-decoration: none;
  		}
  		
.button {
 	text-decoration: none;
}
​​​​​​​​
</style>
<!-- Menu -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a th:href="@{/home}" class="w3-bar-item w3-button"><b>Smart Museum</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right" id=buttonsDIV>
      <a th:href="@{/home}" class="w3-bar-item button active">Home</a>
      <a th:href="@{/artworks}" class="w3-bar-item button">Opere</a>
      <a th:href="@{/gallery}" class="w3-bar-item button">Gallery</a>
    </div>
  </div>
</div>
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://2.bp.blogspot.com/-7nPYeflcH1E/ViJzifZU_tI/AAAAAAAAP4s/MkfsM1xRmQA/s1600/louvre.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>SMART MUSEUM</b></span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
  
   <!-- Visitor and Ours Section -->
<div class="w3-row w3-section">
  <div class="w3-third w3-container w3-black w3-large" style="height:400px">
    <h2>Orari Di Visita</h2>
    <p><i class="fa fa-map-marker" style="width:30px"></i><b>Lunedì</b>: 9:00 - 13:00/ 16 - 19:00</p>
    <p><i class="fa fa-map-marker" style="width:30px"></i><b>Martedì</b>: 9:00 - 13:00/ 16 - 19:00</p>
    <p><i class="fa fa-map-marker" style="width:30px"></i><b>Mercoledì</b>: 9:00 - 13:00/ 16 - 19:00</p>
    <p><i class="fa fa-map-marker" style="width:30px"></i><b>Giovedì</b>: 9:00 - 13:00/ 16 - 19:00</p>
    <p><i class="fa fa-map-marker" style="width:30px"></i><b>Venerdì</b>: 9:00 - 13:00/ 16 - 19:00</p>
    <p><i class="fa fa-map-marker" style="width:30px"></i><b>Sabato</b>: 9:00 - 13:00</p>
    <p><i class="fa fa-map-marker" style="width:30px"></i><b>Domenica</b>: CHIUSO</p>
  </div>
  <div class="w3-third w3-center w3-large w3-dark-grey w3-text-white" style="height:400px">
	<h2>Vieni a Trovarci</h2>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.8741023651464!2d2.3354553156744573!3d48.86061107928757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671d877937b0f%3A0xb975fcfa192f84d4!2sMuseo%20del%20Louvre!5e0!3m2!1sit!2sit!4v1609891144913!5m2!1sit!2sit" width="480" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <div class="w3-third w3-center w3-large w3-grey w3-text-white" style="height:400px">
    <h2>Visitatori Attuali</h2>
    <p class="w3-xlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min" th:text=" ${visitors} "></span></p>
    <p th:text=" ${permission} "></p>
  </div>
</div>
  
<!-- Incoming Art Section  -->
  <div class="w3-container w3-padding-30" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Prossimamente disponibli!</h3>
  </div>
  <div class="w3-row-padding w3-grayscale">
    <div th:each="artwork : ${artworks}" class="w3-col l3 m6 w3-margin-bottom">
      <img th:src="@{${artwork.img}}" alt="John" style="width:100%">
      <h3 th:text="${artwork.title}"></h3>
      <p class="w3-border-bottom w3-border-light-grey w3-padding-10" th:text="${artwork.artist}"></p>
      <p class="w3-opacity">In arrivo!</p>
    </div>
  </div>
</div>
<script>

window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted || 
                         ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    //window.location.reload();
    var currentButton = document.getElementsByClassName("active");
	currentButton[0].className = currentButton[0].className.replace(" active", "");
	var header = document.getElementById("buttonsDIV");
	var btns = header.getElementsByClassName("button");
	for (var i = 0; i < btns.length; i++)
		if(btns[i].innerHTML == "Home")
			btns[i].className += " active";
  }
});


// Add active class to the current button (highlight it)
var header = document.getElementById("buttonsDIV");
var btns = header.getElementsByClassName("button");
for (var i = 0; i < btns.length; i++) {
	btns[i].addEventListener("click", function() {
		var current = document.getElementsByClassName("active");
  		current[0].className = current[0].className.replace(" active", "");
		this.className += " active";
  	});
}

</script>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Realizzato da Gruppo 5</p>
    <p><b>A.Albanese - G.Basile - G.Casciola - G.Ferrarello - A.Virruso</b></p>
</footer>

</body>
</html>